* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://img.freepik.com/free-photo/blue-dark-gradient-texture-wall-background_28629-888.jpg?size=626&ext=jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.logo img {
  width: 112px;
  height: 56px;
}
.logo a {
  cursor: pointer;
}
.navbar {
  display: flex;
  position: sticky;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  z-index: 1;
  font-family: "Lato", sans-serif;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  width: 355px;
  text-align: center;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  width: 15px;
  font-size: 23px;
  margin: 4px;
  padding: 2px 17px;
  justify-content: space-around;
  text-transform: uppercase;
}
.navbar ul li a:hover {
  color: rgb(134, 132, 132);
  border-radius: 20px;
}
@media all and (max-width: 675px) {
  .navbar {
    flex-direction: column;
  }
  .navbar ul li {
    text-align: center;
  }
}
.active {
  text-decoration: underline;
}
.navbar .brand {
  padding: 10px 10px;
  margin: 2px 2px;
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
  background-color: #131313;
  border-radius: 41px;
}
.brand:hover {
  color: #939b9e;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(26, 23, 23);
  color: rgb(253, 250, 250);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.hero {
  height: 660px;
  background-position: center;
  background-image: url(./Images/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heroText {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  line-height: 40px;
}

.heroText button {
  border: 1px solid white;
  background-color: black;
  color: white;
  width: 70px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  bottom: 10px;
}
.heroText button:hover {
  color: black;
  background-color: grey;
  border: 1px solid black;
}
.gridContainer {
  display: flex;
  border: 5px solid black;
  padding: 10px;
  font-family: "Lato", sans-serif;
  animation-name: colorChange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
}
.gridItem img {
  width: 100%;
  height: 221px;
  opacity: 0.7;
  border: 2px solid black;
}
.gridItem :hover {
  opacity: 1;
}
.gridContainer .gridItem .text {
  text-align: center;
}
.work {
  width: 100%;
  position: relative;
}
.work h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 72px;
  text-shadow: 2px 2px black;
  font-size: 40px;
}
.work h1:hover {
  text-shadow: 3px 3px black;
}
.bigbox {
  position: relative;
  margin: 2px 2px;
}
.box {
  text-align: center;
  text-transform: uppercase;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px black;
  font-size: 40px;
}
.cert {
  display: flex;
  justify-content: center;
  border: 5px solid black;
  animation-name: colorChange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.cert .certItem {
  padding: 20px;
}
.cert .certItem img {
  height: 90%;
  width: 85%;
  padding: 20px;
  opacity: 1;
}
div.testHeader {
  height: 63px;
  font-size: 20px;
  text-align: center;
}
div.testHeader h1 {
  margin: 11px;
  text-shadow: 2px 2px black;
}
.test {
  border: 5px solid black;
  width: 58%;
  margin: auto;
  animation-name: colorChange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes colorChange {
  from {
    background-color: #06313d;
  }
  to {
    background-color: black;
  }
}

.test p {
  padding: 24px;
  font-size: 26px;
}
.test h1 {
  text-shadow: 2px 2px black;
  font-size: 40px;
}
p.shift {
  margin: 0;
  padding: 0;
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  color: black;
  animation-name: colorChange2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes colorChange2 {
  from {
    color: black;
  }
  to {
    color: rgb(34, 104, 126);
  }
}
.container {
  display: flex;
  justify-content: center;
  padding: 42px 40px;

  align-items: center;
}
.header {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  padding: 11px 10px;
}
.form-group {
  padding: 4px 2px;
}
.abc {
  border: 5px solid black;
  border-radius: 2px;
}
.form-group input {
  border-radius: 25px;
  text-align: center;
  border: 2px solid black;
  height: 27px;
}
.abc .btn {
  border-radius: 10px;
  border: 2px solid black;
  margin: 2px 31px;
  padding: 2px 30px;
  align-items: center;
  cursor: pointer;
}
.abc .btn:hover {
  background-color: gray;
}
.right img {
  width: 200px;
}
.right {
  padding: 14px 22px;
  margin: 18px 3px;
}
.foot {
  text-align: center;
  background-color: black;
}
@media all and (max-width: 480px) {
  .right img {
    width: 159px;
  }
  .abc {
    padding: 2px;
  }
}
